spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/sbb_qna?useUnicode=true&characterEncoding=utf8&serverTimeZone=Asia/Seoul
    username: root
    password:
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        # show_sql: true


  thymeleaf:
    cache: false

  devtools:
    livereload:
      enabled: true
    restart:
      enabled: false



logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace

