<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">

<div class="container my-3">
    <h2 class="border-bottom my-3 pb-2">글 작성하기</h2>
    <form th:action="@{/article/write}" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" id="title" class="form-control">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" id="content" rows="15"></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <a th:href="@{/article/list}" th:text="이전" class="btn btn-primary m-2"></a>
            <input type="submit" value="등록" class="btn btn-primary m-2">
        </div>
    </form>
</div>